*{
    font-family: Sul Sans Regular;
}

body{
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn { 
    background-color: #EA1D2C ;
    color: #ffffff;
    width: 120px;
}

.btn:hover{
    background-color: #DA5D69 ;
    color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
}

 