*{
    font-family: Sul Sans Regular;
}

body{
    background-color: #ffffff;
}

.header-titulo{
    background-color: #EA1D2C;
    height: 100px;
    display: flex;
    align-items: center;
}

p{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

a{
    color: black;
    text-decoration: none;
}

a:hover,.alinhar-info{
    color: #EA1D2C;
}


 