*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
}

.header-title{
    background-color: #EA1D2C;
    height: 100px;
    display: flex;
    align-items: center;
}

.client{
    border-radius: 0 0 30px 30px;
    background-color: #a6a29f44;
}

.client-order{
    font-size: 18px;
    color: #A6A29F;
    padding-top: 20px;
}

p{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.align-info{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    color: #EA1D2C;
}

.btn { 
    all: unset;
    box-sizing: border-box;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #EA1D2C;
    transition: all ease-in .5s;
}

.btn:hover{
    color: #ffffff;
    background-color: #9C050B;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
}


 