*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
}

.header-titulo{
    background-color: #EA1D2C;
    height: 100px;
    display: flex;
    align-items: center;
}

.cliente{
    border-radius: 0 0 30px 30px;
    background-color: #a6a29f44;
}

.cliente-pedido{
    font-size: 18px;
    color: #A6A29F;
    padding-top: 20px;
}

p{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.alinhar-info{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.alinhar-info img {
    min-width: 150px;
    height: 150px;
}

.alinhar-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn { 
    all: unset;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
    background-color: #EA1D2C;
    transition: all ease-in .5s;
}

.btn:hover{
    color: #ffffff;
    background-color: #9C050B;
}

.btn-cancel {
    background-color: #A6A29F;
}

.btn-cancel:hover{
    background-color: #888582;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
}


 